{% extends "base.html" %}
{% block title %} Clarifications {% endblock %} <!-- Title goes here -->
{% block head %} {{ super() }} {% endblock %}

{% block content %}

<link rel='stylesheet' href={{url_for('static',filename='css/editcontest.css')}} />

<br>
<div class="container">
	<div class="card text-left" style="margin-bottom: -1px; margin-right: 12px;">
		<div class="card-header bg-white" data-toggle="collapse" data-target="#askClarification"><b>New Clarification</b></div>
		<div id="askClarification" class="collapse" style="">
			<div class="card-body">
				<form id="askclarificationform" action="" method="POST" class="form-group" autocomplete="off">
					<div class="autocomplete input-group mb-2">
						{{form.clarification_problem_name(id="problemIdInput",placeholder="Problem Name (leave blank for general clarification)",class="form-control mr-1")}}
					</div>
					{{form.clarification_question(placeholder="Question (please phrase it as a yes/no question)",class="form-control")}}
					<br>
					{{form.submit(id='submitbutton', type='submit',class='btn btn-secondary')}}
					<input type="hidden" name="form_name" value="askClarification" >
				</form>
			</div>
		</div>
	</div>
	<br>

	{% for clarification in clarifications %}
	<div class="card text-left" style="margin-bottom: -1px; margin-right: 12px;">
		<div class="card-header bg-white">
			{% if clarification.problemName != ""%}
			<b><a href="/problem/{{clarification.problemName}}">{{clarification.problemName}}</a></b> by <a href="/profile/{{clarification.askedBy}}">{{clarification.askedBy}}</a>
			{% else %}
			<b>General clarification</b> by <a href="/profile/{{clarification.askedBy}}">{{clarification.askedBy}}</a>
			{% endif %}

			<span style="float:right;">
	        	{{clarification.clarificationTime}}
	    	</span>
		</div>
		<div class="card-body">
			<div class="row">
				<div class="col-md-6">
				{{clarification.question}}
				</div>
				<div class="col-mid-6">
					{%if userinfo.role == 'member' %}
						{% if clarification.answer != "" %}
						<b>Answered by <a href="/profile/{{clarification.answeredBy}}">{{clarification.answeredBy}}</a>:</b>
						<br>
						{{clarification.answer}}
						{% else %}
						<b>Unanswered</b>
						{% endif %}
					{%elif userinfo.role == 'admin' %}
						{% if clarification.answer != "" %}
							<b>Answered by <a href="/profile/{{clarification.answeredBy}}">{{clarification.answeredBy}}</a>:</b>
						{%else%}
							<b>Unanswered</b>
						{%endif%}

						<form id="answerForm" autocomplete="off" action="" method="POST" class="form-group">
							<div class="autocomplete input-group mb-2">
								<select type="select" name="clarification_answer" placeholder="Answer" class="form-control mr-1">
									<option value="{{clarification.answer}}">{{clarification.answer}}</option>
									{% for answer in clarificationAnswers %}
									{% if answer != clarification.answer %}
									<option value="{{answer}}">{{answer}}</option>
									{% endif %}
									{% endfor %}
								</select>
								<input type="hidden" name="askedBy", value='{{clarification.askedBy}}'>
								<input type="hidden" name="clarification_time", value='{{clarification.clarificationTime}}'>
								<input type="hidden" name="form_name" value="answerClarification">
								<input type="submit" value="Update" class="btn btn-secondary">
							</div>
						</form>
						{%endif%}
				</div>
			</div>
		</div>
	</div>
	<br>
	{% endfor %}

	<script src="{{url_for('static',filename='js/autocomplete.js')}}"></script>
	<script>
		var problems = {{problemNames|tojson}}
		autocomplete(document.getElementById('problemIdInput'),problems)
	</script>
</div>

{% endblock %}
