{% extends "admin_base.html" %}
{% block title %} Contests {% endblock %} <!-- Title goes here -->
{% block head %} {{ super() }} {% endblock %}

{% block content %}

<br>

<div class="container">
	<div class="container">
				{% with messages = get_flashed_messages(with_categories=true) %}
						{% if messages %}
								{% for category, message in messages %}
										<div class="alert alert-{{category}} alert-dismissible fade show mt-4" role="alert">
												{{message}}
												<button type="button" class="close" data-dismiss="alert" aria-label="Close">
														<span aria-hidden="true">&times;</span>
												</button>
										</div>
								{% endfor %}
						{% endif %}
				{% endwith %}
		</div>

	<form action="" method="post" class="form-group" id="addcontestform">	
				<div class="input-group mb-3">
						{{form.contest_id(type='text', placeholder='Contest ID', class='form-control', pattern="[a-zA-Z0-9]+")}}
			<input type="hidden" name="form_name", value="add_contest">
						{{form.submit(type='submit', class='btn btn-secondary')}}
				</div>
	</form>

		<br>
		<h6> Do note that all times in the following table are in the timezone: GMT{{timezoneOffset}} </h6>
		<br>

		<div class="tab-content">

			<table class="table table-hover">
			  <thead class="thead-dark">
			    <tr>
			      <th scope="col">Contest Name</th>
			      <th scope="col">Problems </th>
			      <th scope="col">Participants</th>
			      <th scope="col">Start Time</th>
			      <th scope="col">End Time</th>
			      <th scope="col">Duration</th>
			      <th scope="col">Limits</th>
			      <th scope="col">Actions</th>
			    </tr>
			  </thead>
			  <tbody>
			  	{% for contest in contestsInfo %}
			    <tr>
			      <td><a class="contestlink" href="{{url_for('editcontest', contestId=contest.contestId)}}">{{contest.contestName}}</a></td>
			      <td>
			      	<p>
							{%for problem in contest.problems %}
							<a href="{{url_for('editproblem',problemId=problem)}}"> {{problem}} </a>
							<br>
							{%endfor%}
			      	</p>
			      </td>
			      <td>
			      	<p>
							{%for username in contest.users %}
							<a href="{{url_for('profile',username=username)}}"> {{username}} </a>
							<br>
							{%endfor%}
			      	</p>
			      </td>
			      <td class="editable dt"><tt>{{contest.startTime}}</tt></td>
			      <td class="editable dt"><tt>{{contest.endTime}}</tt></td>
			      <td class="dur"><tt>{{contest.duration}}</tt></td>
			      <td>
			      	{{contest.subLimit}} submissions
			      	<br>
			      	{{contest.subDelay}}s Delay
			      </td>
			      <td>
			        <button class="edit-btn">Edit Dates</button>
			        <button class="save-btn">Save</button>
			      </td>
			    </tr>
			    {%endfor%}
			  </tbody>
			</table>

		</div>
		<script>
			// I never intended to use JS to replace flask forms, but ChatGPT recommended it
			$(".edit-btn").click(function(){
			  var row = $(this).closest("tr");
			  row.find(".editable").attr("contenteditable", true);
			  $(this).hide();
			  row.find(".save-btn").show();
			});

			$(".save-btn").click(function(){
			 	var row = $(this).closest("tr");
				
				// gets the values from rows
				var row = $(this).closest("tr")
				var rowvalues = row.map(function() {
				  return $(this).find('td').map(function() {
				    return $(this).text();
				  }).get();
				}).get();

				// Get the contestId from the link to contest
				var url = row.find(".contestlink")[0].href;
				var contestId = url.split("/").pop();

			  // updates database
				params = {
					'contestId':contestId,
					'startTime': rowvalues[3],
					'endTime': rowvalues[4]
				}

				$.post('/admin/editcontesttimes',params).done((response) => {
					if (response.status !== 200){
						alert(response.error);
					}else{
						alert('Success!');
						location.reload();
					}
				})
			});
		</script>
</div>

{% endblock %}

