{% extends "admin_base.html" %}
{% block title %} Users List {% endblock %} <!-- Title goes here -->
{% block head %} {{ super() }} {% endblock %}

{% block content %}

<br>

<div class="container">
	<h1> Edit Users </h1>

	<div class="card text-left" style="margin-bottom: -1px; margin-right: 12px;">
		<div class="card-header bg-white" data-toggle="collapse" data-target="#manageUsers"><b>Manage Users</b></div>
		<div id="manageUsers" class="collapse" style="">
			<div class="card-body" >
				<div>
					<input class="form-control" id="contest_id" name="contest_id" placeholder="Contest Id" type="text" value="">
				</div>
				<br>
				<input class="btn btn-secondary" id="submitbutton" name="submit" type="submit" value="Add Users to Contest" onclick="addUsers()">
			</div>
		</div>
	</div>
	<hr><br>

	<table class="table table-sm table-hover" id="myTable">
		<thead class="sortable thead-dark">
			<tr>
				<th scope="col">Select</th>
				<th scope="col">Username</th>
				<th scope="col">Full Name</th>
				<th scope="col">Role</th>
				<th scope="col">Contest</th>
				<th scope="col">Group</th>
				<th scope="col">Actions</th>
			</tr>
			</thead>
			
			<tbody>

			{% for user in allusersinfo%}
				<tr>
				<td><input type="checkbox" /></td>
				<td scope="row"><a href="/profile/{{user.username}}">{{user.username}}</a> </td>
				<td>{{user.fullname}}</td>
				<td> {{user.role}} </td>
				<td>{{user.contest}}</td>
				<td> {{user.group}} </td>
				<td>
					<button class="edit-btn">Edit</button>
					<button class="save-btn">Save</button>
				</td>
			{% endfor %}
		</tbody>
	</table>
</div>
	<!-- Makes table sortable -->
	<script src={{url_for('static',filename='js/sortable.js')}}> </script>
	<!-- Autocomplete for contestId -->
	<script src="{{url_for('static',filename='js/autocomplete.js')}}"></script>
	<script>
		var contestIds = {{contestIds|tojson}}
		autocomplete(document.getElementById('contest_id'),contestIds)
	</script>
	<!-- Allows selecting multiple contests at once -->
	<script>
		let lastChecked;

		const checkboxes = document.querySelectorAll("input[type='checkbox']");
		for (const checkbox of checkboxes) {
			checkbox.addEventListener("click", function(e) {
				if (e.shiftKey && lastChecked) {
					let inBetween = false;
					// Basically inBetween will be on if either of lastChecked or current chekcbox has been passed
					for (const c of checkboxes) {
						if (c === lastChecked || c === this) {
							inBetween = !inBetween;
						}

						if (inBetween) {
							c.checked = true;
						}
					}
				}

				lastChecked = this;
			});
		}
	</script>
	<!-- Adds users to contest when button is clicked -->
	<script>
		var contestIds = {{contestIds|tojson}}
		addUsers = () => {
			let usernames = [] // users to add into contest
			let contestId = $('#contest_id').val()

			if (!contestIds.includes(contestId)){
				alert('Invalid Contest Id!')
				return
			}

			let tableRows = $('#myTable > tbody > tr')
			tableRows.each((i) => {
				let row = tableRows[i];
				let checked = row.children[0].children[0].checked
				let username = row.children[1].children[0].text
				if (checked){usernames.push(username)}
			})
			params = {
				'operation': 'ADD_USERS_TO_CONTEST',
				'usernames': JSON.stringify(usernames),
				'contestId': contestId
			}
			$.post('/admin/editusertable',params).done((response) => {
				if (response.status !== 200){
					alert(response.error);
					location.reload();
				}else{
					alert('Success!');
					location.reload();
				}
			})
		}
	</script>
{% endblock %}
