{% extends "base.html" %}
{% block title %} Profile - {{profileinfo.username}} {% endblock %} <!-- Title goes here -->
{% block head %} {{ super() }} {% endblock %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% block content %}
<div class = "container-fluid p-4">
	<div class = "row">
	
	<div class = "col-sm-4">
		<div class = "container">
			<div class = "card shadow-sm" id="profile-card">
				<h4 class = "card-header"> {{profileinfo.username}}'s profile </h4>

				<div class = "card-body">
				<table class = "table table-borderless table-sm">
					<tbody>
					<tr>
						<th scope="row"> Name </th>
						<td> {{profileinfo.fullname}} </td>
					<tr>
					<tr>                                    
						<th scope="row"> Role </th>
						<td> {{profileinfo.role}} </td>
					<tr>
				</table>

				<a href="/submissions?username={{profileinfo.username}}" class="btn btn-secondary">View Submissions</a>
				{% if profileinfo.username==userinfo.username %}
				<a href="/editprofile" class="btn btn-secondary">Edit Profile</a>
				{% endif %}
				</div>

			</div>
		</div>
	</div>
	</div>
</div>
{% endblock %}


